<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="quadruped">

  <link name="world"></link>

  <joint name="base_joint" type="fixed">
    <parent link="world" />
    <child link="robot_base_link" />
    <origin xyz="0 0 0" rpy="0 0 0" />
    <axis xyz="1 0 0" />
  </joint>

  <link name="robot_base_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="file://$(find quadruped_description)/meshes/robot_base.stl" />
      </geometry>
      <material name="green">
        <color rgba="0.8 0.25 0.2 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="120 120 24" />
      </geometry>q </collision>
    <inertial>
      <mass value="12" />
      <origin xyz="0 0 0" />
      <inertia ixx="2.26" ixy="0.0" ixz="0.0" iyy="6.26" iyz="0.0" izz="8.5" />
    </inertial>
  </link>

  <xacro:include filename="$(find quadruped_description)/urdf/mech/leg.urdf.xacro" />
  <xacro:leg parent="robot_base_link" uid="fr">
    <origin xyz="-58.77 58.981 12.432" rpy="0 0 ${-pi/4}"/>
  </xacro:leg>

  <xacro:include filename="$(find quadruped_description)/urdf/mech/leg.urdf.xacro" />
  <xacro:leg parent="robot_base_link" uid="fl">
    <origin xyz="58.77 58.981 12.432" rpy="0 0 ${-3*pi/4}"/>
  </xacro:leg>

  <xacro:include filename="$(find quadruped_description)/urdf/mech/leg.urdf.xacro" />
  <xacro:leg parent="robot_base_link" uid="br">
    <origin xyz="-58.77 -58.981 12.432" rpy="0 0 ${pi/4}"/>
  </xacro:leg>

  <xacro:include filename="$(find quadruped_description)/urdf/mech/leg.urdf.xacro" />
  <xacro:leg parent="robot_base_link" uid="bl">
    <origin xyz="58.77 -58.981 12.432" rpy="0 0 ${3*pi/4}"/>
  </xacro:leg>

</robot>